@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: #c29dff;
}
.content{
    background: #fff;
    border-radius: 15px;
    width: 960px;
    height: 60%;
    justify-content: space-between;
    align-items: center;
}
.content::before{
    content: "";
    position: absolute;
    background-color: #ae00ff;
    width: 40%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.title-primary{
    color: #fff;
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
}
.title-secondary{
    color: #ae00ff;
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
}
.description{
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
}
.description-primary{
    color: #fff;
}
.description-secondary{
    color: #7f8c8d;
}
.btn{
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
    border: none;
    margin: 1rem;
}
.btn-primary{
    background-color: transparent;
    border: 1px solid #fff;

}
.btn-primary:hover {
    background-color: #fff;
    color: #ae00ff;
}
.btn-secondary{
    background-color: #ae00ff;  
    border: 1px solid #ae00ff;
}
.btn-secondary:hover {
    background-color: #fff;
    border: 1px solid #ae00ff;
    color: #ae00ff;
}
.first-content{
    display: flex;
    position: relative;
}
.first-column{
    text-align: center;
    flex: 1 0 auto;
    z-index: 1;
    flex-direction: column;
}
.second-column{
    flex: 2 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.social-media{
    margin: 1rem;
}
.link-social-media:not(:first-child){
    margin-left: 10px;
}
.link-social-media:hover .item-social-media{
    background-color: #ae00ff;
    color: #fff;
    background-color: #ae00ff;
}
.list-social-media{
    display: flex;
    list-style-type: none;
}
.item-social-media{
    border: 1px solid #bdc3c7;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #95a5a6;
}
.form{
    display: flex;
    flex-direction: column;
    width: 55%;
}   
.form input{
    height: 45px;
    width: 100%;
    border: none;
    background-color: #d4dfe2;
}
.label-input{
    background-color: #d4dfe2;
    display: flex;
    align-items: center;
    margin: 8px;
}
.icon-modify{
    color: #7f8c8d;
    padding: 0px 5px;
}
.second-content{
    position: absolute;
    display: none;
}
